*{margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI,sans-serif;}
body{background:#0f172a;color:white;}
nav{display:flex;justify-content:space-between;padding:18px 8%;background:rgba(255,255,255,.05);backdrop-filter:blur(12px);position:sticky;top:0;z-index:100;}
.logo{font-size:22px;font-weight:bold;color:#22c55e}
nav a{color:white;text-decoration:none;margin-left:25px;transition:.3s;}
nav a:hover{color:#22c55e}

/* Container */
.container{padding:60px 8%;}

/* Cards */
.card{background:rgba(255,255,255,.05);padding:30px;border-radius:16px;text-align:center;transition:.5s;cursor:pointer;transform: scale(0.9);opacity:0;animation: fadeIn 0.7s forwards;margin:15px 0;}
.card:hover{transform:scale(1.05);box-shadow:0 0 25px rgba(34,197,94,.5);}
@keyframes fadeIn{to{opacity:1;transform:scale(1);}}

input,textarea{padding:12px;width:100%;margin:10px 0;border-radius:8px;border:none;transition:.3s;}
input:focus,textarea:focus{outline:none;box-shadow:0 0 12px #22c55e;}

button{padding:14px 28px;background:#22c55e;border:none;border-radius:8px;cursor:pointer;transition:.4s;}
button:hover{background:#16a34a;transform:scale(1.1);box-shadow:0 0 20px #22c55e;}

footer{text-align:center;padding:30px;background:#020617;margin-top:50px;}